{{ $fonts          := site.Params.fonts }}
{{ $fontAwesomeVersion := site.Params.fontawesomeversion }}
{{ $fontAwesomeUrl := printf "https://use.fontawesome.com/releases/v%s/css/all.css" $fontAwesomeVersion }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{ $sansSerifFont := (index (where $fonts "type" "sansserif") 0).name }}

@charset "utf-8"
@import url({{ $fontsUrl }})
@import url({{ $fontAwesomeUrl }})

// Project-specific colors and variables
$k8s-blue: #326ce5

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$primary: $k8s-blue
$navbar-height: 4rem
$navbar-item-img-max-height: $navbar-height * 0.6
$navbar-dropdown-radius: none

@import "bulma/sass/utilities/derived-variables"

$navbar-dropdown-arrow: $grey-lighter !important

@import "bulma/bulma"