{{ $description := site.Params.description }}
{{ $tagline     := site.Params.tagline }}
<section class="hero is-primary is-home-hero">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile is-spaced has-text-weight-light">
          {{ $description }}
      </p>

      <p class="subtitle is-size-4 is-size-5-mobile has-text-weight-light">
        {{ $tagline }}
      </p>

      <a class="button is-primary is-outlined is-inverted has-text-weight-bold">
        <span class="icon">
          <i class="fas fa-arrow-circle-up"></i>
        </span>

        <span>
          Learn Kubernetes basics
        </span>
      </a>
    </div>
  </div>
</section>